<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{trip.name}} - Travlr Getaways</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header }}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>{{trip.name}}</h1>

							<div class="trip-content">
								<a href="/images/{{trip.image}}" target="_blank">
									<img src="/images/{{trip.image}}" alt="{{trip.name}}">
								</a>

								<div class="trip-text">
									<p>{{trip.description}}</p>

									<p><strong>Length:</strong> {{trip.length}}</p>
									<p><strong>Resort:</strong> {{trip.resort}}</p>
									<p><strong>Per Person:</strong> {{trip.perPerson}}</p>

									<div class="trip-actions">
										<a href="/travel/book/{{trip.code}}" class="btn btn-primary">Book Now</a>
										<a href="/travel" class="btn btn-info">Back to Travel</a>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div id="page">
				{{> footer }}
				<div id="connect">
					<a href="http://pinterest.com/fwtemplates/" target="_blank" class="pinterest"></a>
					<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a>
					<a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a>
					<a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a>
				</div>
			</div>
			<p style="text-align: center;">
				© 2023 by Travlr Getaways. All Rights Reserved
			</p>
		</div>
	</div>
</body>
</html>